drag()
  -webkit-app-region drag
  -webkit-user-select none

no-drag()
  -webkit-app-region no-drag

line-clamp($lines=2)
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp $lines
  overflow hidden

single-line()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
