// 颜色规范
$color-background = #3e4e6a   // 背景色、主题色
$color-gray-light = #c9c9c9   // 浅灰
$color-gray-dark = rgba(162, 162, 162, .73) // 深灰
$color-white = #fff           // 纯白
$color-border = #e5e5e5       // 边框
$color-black = #000           // 纯黑
$color-black-light = #2d2d2d  // 纯黑稍浅
$color-black-trans = rgba(0, 0, 0, .4)  // 黑色透明蒙版
$color-subtitle = rgba(0, 0, 0, 0.45)   // 导航栏小标题
$color-nav-hover-bg = #f2f2f2           // 导航栏hover-bg
$color-bottom-player-bg = #f3f3f3       // 底部播放器bg
$color-play-btn-bg = $color-border      // 底部播放按钮bg
$color-play-btn-hover-bg = #ddd         // 底部播放按钮hover-bg
$color-btn-hover = #5e5e5e     // 底部其他按钮hover
$color-play-time = #999        // 底部播放器时间
$color-back-forward-bg = rgba(0, 0, 0, .1)
$color-gray = gray
$color-font-default = rgba(0, 0, 0, .65)

// 字体大小规范
$font-size-small-s = 13px
$font-size-small = 14px
$font-size-medium = 16px
$font-size-medium-l = 17px
$font-size-large = 18px
$font-size-song-name = 24px
$font-size-song-list-name = 24px

// 字体粗细规范
$font-weight-normal = 400
$font-weight-bold = 700

// 布局
$height-title-bar = 66px      // 标题栏高度
$height-bottom-player = 80px  // 底部播放器高度

$border-radius-slider = 10px  // 轮播border-radius
$border-radius-cover = 5px    // 歌单封面
