// 颜色规范
$color-background = #6b7f9b
$color-gray-light = #c9c9c9
$color-gray-dark = rgba(162, 162, 162, 0.73)
$color-white = #fff
$color-border = #e5e5e5

// 字体规范
$font-size-small = 14px
$font-size-medium = 16px
$font-size-medium-l = 17px
$font-size-large = 18px
