// 颜色规范
$color-background = #3e4e6a
$color-gray-light = #c9c9c9
$color-gray-dark = rgba(162, 162, 162, 0.73)
$color-white = #fff
$color-border = #e5e5e5
$color-black = #000
$color-black-light = #2d2d2d

// 字体大小规范
$font-size-small = 14px
$font-size-medium = 16px
$font-size-medium-l = 17px
$font-size-large = 18px

// 字体粗细规范
$font-weight-normal = 400
$font-weight-bold = 700
